<!doctype HTML>
<html
<head>
<meta charset="UTF-8">
<title>Wolfate</title>
<link href="../defaults.css" rel="stylesheet" />
</head>
<body>
{% if username %}
Welcome {{username}}        <a href="/logout">Logout</a> | <a href="/newpost">New Post</a><p>
{% else %}
You are not logged in!        <a href="/login">Login</a> | <a href="/signup">Sign Up</a><p>
{% endif %}
<a href="/">Blog Home</a>

{% if username === 'post['author'] %}
You are the author of this post!
{% else %}
What are you doing dude?!
{% endif %}
<br />
<br />
<form action="/editedpost" method="POST">
{{errors}}
<ul class="edit">
    <li>
        <label for="subject">Title</label>
        <input type="text" name="subject" size="120" value="{{post['title']}}">
    </li>
    <li>
        <label for="body">Entry</label>
        <input type="text" name="body" size="120" value="{{post['body']}}">
    </li>
    <li>
        <label for="tags">Tags</label>
        <input type="text" name="tags" value="{{post['tags']}}">
    </li>
</ul>
<input type="text" name="prevPermalink" value="{{post['permalink']}}">
<input type="submit" value="Submit">
<a href="/post/{{post['permalink']}}">Cancel</a>
</form>

</body>
</html>


