// GLOBAL VARIABLES
body
    background-color #fff
    color #000
    font-family $lato
    -webkit-font-smoothing antialiased

.block
    display block

/* BUTTONS */

.btn-dark
    min-width 180px
    line-height 24px
    padding 18px 20px
    font-size 16px
    text-transform uppercase
    color #fff
    text-align center
    font-weight 900
    background #222533
    border none
    border-radius 5px
    -webkit-transition all 0.2s ease-out
    -moz-transition all 0.2s ease-out
    -o-transition all 0.2s ease-out
    -ms-transition all 0.2s ease-out
    cursor pointer

    &:hover
        background #00ACBA 