// -------------------------------------------------------------------------
//  STRUCTURES MODIFIERS
//
//	Include here any modifiers for the structure elements of the site.
//	Be sure to scroll until you find the correct section for the modifier,
//	you are about to create.
//	
//		* Before creating a new section, please consult with a teammate.
// -------------------------------------------------------------------------

